<form *ngIf="task">
  <div class="form-row">

    <div class="col-md-5">
      <input type="text" name="title" id="title" [(ngModel)]="task.title" placeholder="Title" class="form-control">
    </div>
    <div class="col-md-5">
      <input type="text" name="description" id="description" [(ngModel)]="task.description" placeholder="Description" class="form-control">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary" (click)="updateTask()">Actualizar</button>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary" (click)="deleteTask()">Eliminar</button>
    </div>
  </div>
</form>
